/* .mycontent{
  padding-top : 100px;
  border: 10px solid red;
}

html, body{
  height: 100px;
  width: 100px;
  overflow: hidden;
  background-color: #191063;
  margin: 0;
} */
body{
  margin : 0;
  /* overflow: hidden; */
  background-color: black;
  color : white;
}