
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Star Social </title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'social/css/master.css' %}">
    <link rel="stylesheet" href="{% static 'css/master.css' %}">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  </head>
  <body>
    <nav class='navbar mynav' role='navigation' id='navbar'>
      <div class="container">
        <a class="navbar-brand mynav " href="{% url 'home' %}">Star Social </a>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li><a href="{% url 'posts:create' %}">Post</a></li>
              <li><a href="{% url 'groups:all' %}">Groups</a></li>
              <li><a href="{% url 'groups:create' %}">Create Group</a></li>
              <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
            {% else %}
              <li><a href="{% url 'groups:all' %}">Groups</a></li>
              <li><a href="{% url 'accounts:login' %}">Login</a></li>
              <li><a href="{% url 'accounts:signup' %}">Signup</a></li>

            {% endif %}

        </ul>
      </div>

    </nav>
    <div class="container mycontent">
      {% block content %}

      {% endblock %}
    </div>

  </body>
  
  <script type = 'text/javascript' src = "{% static 'social/js/master.js' %}"></script>
</html>
